@import url(main.css);

.blog-part-content {
    width: 950px;
    margin: 2rem 0 2rem 0;
    margin-left: auto;
    margin-right: auto;
}

.blog {
    border: 1px solid black;
    padding: 1rem;
}

.blog h2 {
    padding: 1rem;
}

.blog time {
    padding: 0.2rem 1rem;
}

.blog p {
     padding: 0.5rem;
}

.comment {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.comment p , .comment h3{
   margin-left: 1rem;
}

