/*
 The start of the css styling 
*/

@import url(dropdown.css);

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Poppins:wght@200&family=Zen+Kurenaido&family=Zen+Maru+Gothic:wght@300&display=swap');      
*{ 
    font-family: 'Times New Roman', Times, serif;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.first-part {
   height: fit-content;
   padding-bottom: 2rem !important;
   color: white;
   display: block;
   margin-left: auto;
   margin-right: auto;
   background: #A6B16A;
   background: #6AB172;
   background: -webkit-radial-gradient(bottom right, #6AB172, #011A49);
   background: -moz-radial-gradient(bottom right, #6AB172, #011A49);
   background: radial-gradient(to top left, #6AB172, #011A49);
   
}



header {
  max-width: 950px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content1 {
  display: block;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}

#logo {
 font-size: 3em;
 padding: 0.5em 0.5em 0.2em 0.1em;
 cursor: pointer;
}

.logo-description {
  margin-left: 0.5em;
}

#main-search {
 margin: 2em 0em 0.75em 2em;
 width: 250px;
 height: 35px;
 border-radius: 20px;
 
 color: black;
 border: none;
}

input[type='search']{
 font-size: 1em;

 padding: 16px;
}

.header-links {
 margin-left: 50px;
}

a:hover {
 color: black;
 background-color: thistle;
 padding: 0.30rem;
 transition: 0.25s;
}

.right-header p {
 color: white;
}

a {
 text-decoration: none;
 color: white;
}

#search-form{
display: flex;
align-items: center;
} 

.fa-search {
    
    color: black !important;
    position: relative;
    top: -2px;
    right: 25px;

  }

#search-submit {
   margin-top: 2em;
   background-color: transparent !important;
   border: none;     
}

.search-div {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Slider Part */

.slider {
   margin-top: 20px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;
   transition: 1s;
   width: 950px;
   height: 340px;
   overflow: hidden;
}

.slide {
   width: 20%;
   transition: 1s;
}

.slides {
   width: 500%;
   height: 340px;
   display: flex;
}

.slides input {
   display: none;
}

.navigation-manual {
   height:  20px;
   margin-top: -30px;
     display: flex;
     justify-content: center;
}

.manual-btn {
   border: 2px solid #40D3DC ;
   
   width: 13px;
   height: 13px;
   border-radius: 10px;
   cursor: pointer ;
   transition: 1s ;
   margin-right: 40px;
}

.manual-btn:hover {
   background-color: #40D3DC;
   transition: 0.1s;
}

#radio1:checked ~ .first {
   margin-left: 0%;
}

#radio2:checked ~ .first {
   margin-left: -20%;
}

#radio3:checked ~ .first {
   margin-left: -40%;
}


#radio4:checked ~ .first {
   margin-left: -60%;
}

/*Navigation Links
down to the image slider
*/

.navigation-links {
   max-width: 950px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 1.5rem;      
   background-color: blueviolet;
}

ul li{
   list-style-type: none;
   cursor: pointer;
   padding: 1.2rem;
}

li:hover {
   background-color: cadetblue;
   transition: 0.25s;
}

ul {
   display: flex;
}

  /**/
  
  .second-part-content {
      width: 950px;
      margin: 2rem 0 2rem 0;
      margin-left: auto;
      margin-right: auto;

  }

  .second-part-grid {
   display: grid;
   grid-template-columns: 33.33% 33.33% 33.33%;
   
  }

  .item1 {
     padding: 1rem;
      margin: 10px;

      box-shadow: -1px 1px 12px -2px rgba(0,0,0,0.65);
     -webkit-box-shadow: -1px 1px 12px -2px rgba(0,0,0,0.65);
     -moz-box-shadow: -1px 1px 12px -2px rgba(0,0,0,0.65);
  }

   #card-image {
      height: 220px ;
   }
 
  .house1, .house2, .house3{
   background-image: url("../images/house1.jpg");
   background-repeat: no-repeat; 
   background-position: center;
   background-attachment: scroll;
   background-origin: border-box;
   background-size: cover;

  }


  .house2 {
     background-image: url("../images/apartment1.jpg");
  }

  .house3 {
   background-image: url("../images/blog/b-1.jpg");
  }

  .house4 {
   background-image: url("../images/blog/b-2.jpg");
  }

  .house5 {
   background-image: url("../images/blog/b-3.jpg");
  }



@media only screen and (max-width: 600px) {
  .right-header {
      display: none;
  }

  header {
      max-width: 600px;
      width: 100%;
  }

  .content1 {
      width: 600px !important;
  }

  img {
      max-width: 585px;
      width: 100%;
  }

  .slider {
   max-width: 600px;
   width: 100%;
   height: auto;
  }

  ul {
      display: flex;
      flex-direction: column;
  }
  
}


.link-continue-reading {
  
    all: initial !important;
    color: blueviolet !important;
    cursor: pointer !important;

}





/*The design of third part of the page */

.third-part {

}

.third-part-content {
   width: 970px;
   margin-left: auto;
   margin-right: auto;
   display: grid;
   justify-content: center;
   grid-template-columns: 50% 50%;
   
}

.third-part-item1 {
   padding: 2rem;
   color: black !important;
   
}

.third-part-item1 > h1 {
   font-size: 30px;
   padding-bottom: 0.5rem;
   
}

.third-part-item1 > .author{
    font-size: 20px;
    padding-bottom: 1.5rem;

}

.author-message {
   height: 180px;
  
}

.third-part-photos{
     height: 200px
}


.third-part-photos {
   text-align: center;
}

.third-part-item2 {
   padding: 2rem 0 2rem 0rem;
   
}

.third-part-item2 > h1 {
   font-size: 30px;
   font-style: italic;
}





/**Designing the footer of the first page*/

.footer {
   font-family: 'Zen Maru Gothic', sans-serif !important;
}

.footer-content {
   width: 1000px;
   height: 440px;
   margin-left: auto;
   margin-right: auto;
   display: grid;
   grid-template-columns: 50% 25% 25%;


   background:  url(../images/logo.png) bottom right no-repeat , url(../images/solid1.jpg)  top left no-repeat ;
  background-size: 150px, 100% !important;
   
  
}

.about-us {
  
   margin: 0.5rem;
}

.our-skillset {
   
   margin: 0.5rem;
}

.blog-links {
   
   margin: 0.5rem;
}


.skillset1  {

   padding: 0.75rem 0.5rem 0.2rem 0.5rem;
   border-bottom: thin solid white;
   color:   black !important;
}

.skillset1 a {
   color: black;
}

.about-us-1:nth-of-type(2){
   padding-top: 1.5rem;}

.about-us-1>p {
          padding: 0.75rem 0 1rem 1rem;
}


.about-us-1-img {
   width: 175px;
   float: left;
   padding: 0 0.5rem;
}

.copyright {
   width: 1000px;
   margin-left: auto;
   margin-right: auto;
   color: white;
   justify-content: space-between;
   padding: 1rem;
   display: flex;
   background-image: linear-gradient(to right, #141e30, #243b55);
}

.button-1 {
   margin-left:67% !important;
   margin-top: 20px !important;
   width: fit-content;
   
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

  border-radius: 5px;
  box-shadow: 3px 5px #888888;
  border: 5px solid transparent;
  border-image: url(../images/border-image.png) 30 round;
  
  cursor: pointer;
}


.price-label {
   font-size: 1.4rem;
   font-style: italic;
   padding: 0.5rem 0 0.2rem 0;
}


.price-tag {
   font-weight: bold;
   font-size: 2rem;
   font-style: normal;
}

.address-label, .room-label, .bathroom-label, .sqft-label, .mailto-label {
   padding: 0.5rem;
   font-weight: bold;
   border-bottom: 1px solid black;
}

@font-face{
   font-family: roboto;
   src: url('../fonts/roboto/Roboto-Thin.ttf') ;

}

.address-tag, .room-tag, .bathroom-tag, .sqft-tag {
   font-family: roboto;
   font-size: 1.2rem;
   color: black;
   font-weight: bold;
}

.mailto-label {
   margin: 0.5rem;
   cursor: pointer;
   text-shadow: 1px -1px 8px #550DCE;
   text-transform: uppercase;
}


.card-title {
   padding-bottom: 1rem; 
   word-wrap: break-word;
}

.emailto {
   all: unset !important;
}



.item1 {
   border: 2px solid black;
   outline: 2px solid #55405A;
   outline-offset: 0px;
}

.item1:nth-child(2) {
   border: 2px dotted black;
}

.item1:nth-child(3) {
   border: 2px dashed black;
}

.justify {
   text-align: justify !important;
}


#time {
   position: absolute;
   top: 10px;
   right: 10px;
   color: white;
}

/* CSS 









































