
@import url(main.css);
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Luckiest+Guy&family=Maven+Pro&family=Poppins:wght@200&family=Zen+Kurenaido&family=Zen+Maru+Gothic:wght@300&display=swap');.why-part-content {
    width: 950px;
      
      margin-left: auto;
      margin-right: auto;
}

.event-timeline-title {
    margin-top: 3rem;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
}

ul {
    all: unset !important;
}


ul li:nth-child(even) {
    list-style-type: disc  !important;
}

ul li:nth-child(odd) {
   list-style-type: square  !important;

}



li:hover {
    background-color: white;
    transition: 0;
}

.step {
    padding-bottom: 0.5rem;
}

ol {
   width: 900px;
   margin: 0 auto;
    list-style-type: upper-roman;
    margin-top: 1rem;
    margin-bottom: 1rem !important;
}


.steps2 {
   margin: 0 0 0 4rem !important;
   list-style-type: decimal;
   margin-left: 1rem;
}

