@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Zen+Kurenaido&family=Zen+Maru+Gothic:wght@300&display=swap'); 
 
 *{
     
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 #main {
     width: 100%;
     height: fit-content;
     background-image: url(real_estate_trends.max-575x400.png);
     background-repeat: no-repeat;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-size: cover;
   
    
 }

 #title {
     color: white;
     text-align: center;
     font-family: 'Zen Kurenaido', sans-serif;
     padding-top: 2rem;
     padding-bottom: 2rem;
    font-size: 3rem;
 }

 #description {
     text-align: center;
     color: white;
     font-family: 'Zen Kurenaido', sans-serif;
    font-size: 1.2rem;
    padding-bottom: 2rem;
 }

 #login-form, #sign-up-form, #contact-form, #register-property {
     display: block;
     margin: 0 auto;
  
     width: 700px;
     height: fit-content;
     font-family: 'Poppins', sans-serif;
 }

 label {
     margin-top: 2rem;
     font-size: 1.10rem;
     
 }

 input, option, select, textarea {
     border: none;
     margin-bottom: 1.2rem;
     border-radius: 5px;
     width: 600px;
     padding: 0.75rem;
     font-size: 1.1rem;
 }

 .survey-content {
     color: white;
     padding: 0rem 3rem 3rem 3rem;
     background-color: rgba(44, 44, 76, 0.60);
 }

 #footer {
     text-align: center;
     letter-spacing: 0.1rem;
     margin-top: 1rem;
     font-family: 'Poppins', sans-serif;
     color: black;
 }

 
 input[type="radio"], input[type="checkbox"] {
     
     transform: scale(1.35);
     width: fit-content;
     margin-right: 0.5rem;
     margin-bottom: 0 !important;
     text-align: left !important;
     font-size: 40px;
 }


 #radio-options label {
    
    font-family: 'Zen Maru Gothic', sans-serif;
 }

 #labeli {
     margin-top: 2rem !important;
 }

 input[type="checkbox"], input[type="radio"] {
     margin-left: 0.5rem;
 }

 input[type="submit"] {

    margin-top: 0.5rem;
     border: none;
     background-color: rgb(13, 190, 122);
     color: white;
     
 }

 input[type="submit"]:hover {
      cursor: pointer;
 }
 



 textarea {
    font-family: 'Poppins', sans-serif;

 }

 .comment-option {
     margin-top: 1rem;
 }

 #name-label {
     display: block;
     padding-bottom: 0.5rem;
    
 } 



 @media only screen and (max-width: 600px){
    #main{
        max-width: 800px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    #survey-form, label, input {
        max-width: 550px;
        width: 100%;
        padding: 0.5rem;
    }

    .login-title {
        font-size: 35px !important;
        padding-bottom: 0 !important;
    }

    .survey-content {
        padding: 1.5rem
    }

    
 }


 
 .error {
    border: 2px solid red;
 }

 .errorMsg {
     color: red;
     font-weight: bold;
 }

 .success {
    border: 2px solid rgb(0, 255, 0);
 }

 .successMsg {
    color: rgb(0, 255, 0);
     font-weight: bold;
 }

 small {
     margin: -1rem  0 0.7rem 0 !important;
 }

 .yes{
    display: block;
  }

    .no{
        display: none;
    }



#main-color-house {
    height: 40px !important;
}


 